#navbar
  border: 1px solid black
  height: 6.5rem

  &__contents
    grid-column: 2 / span 3
    width: 100%
    display: flex
    justify-content: space-between
    position: relative

  // &__icons
  //   display: flex
  //   background-color: skyblue

  //   #main__prof-icon
  //     justify-content: flex-end