#navbar
  border: 1px solid black
  height: 6.5rem

  &__contents
    grid-column: 2 / span 3
    display: flex
    position: relative
    justify-content: space-between
    align-items: center
  &__prof-icon
    height: 3.5rem
    width: 3.5rem
    background-image: url('https://www.flaticon.com/svg/static/icons/svg/711/711769.svg')
  &__modal
    border: 1px solid black
    position: absolute
    top: 10rem
    height: 60rem
    width: 20rem
    z-index: 1
    padding: 2rem
    right: 0
    transform: translateX(40%)

    // &.hidden
    //   background-color: red
    //   display: none
    //   transition: visibility 02 opacity 0.5s