
block content
  div(class="modal", id="login__modal")
    .modal-header
      .button-div
        button(id="close__modal", data-close-modal) X
      #header__title Welcome Back.
    form(class="log-in-form", id="log-form-submit")
      .errors-container-login
      #login__email
        label(id="email",for='email') Your email
        input(id="email__input",type='email', name='email')
      #login__password
        label(id="password",for='password') Your password
        input(id="password__input",type='password', name='password')
      #login__button
        //- input(type="hidden" name="_csrf" value=csrfToken)
        button(id="login",type="submit") Log In
  #overlay
    script(type="module" src="/js/log-in.js")
