div(class="modal2")
    div(class="modal2__header")
        div(class="button-div")
          button(class="button-div__button", data-close-modal) X
        .modal2__header-title Join Readium
        .errors-container
    div(class="sign-up-container")
        .sign-up-container__title Create an account have access to amazing stories and follow authors you love.
        div
        form(class="sign-up-form")
            div(class="sign-up-form__div")
            label(class="sign-up-form__label",for="fullName") Full Name
            input(class="sign-up-form__input",type="text" name="fullName" required)
            div(class="sign-up-form__div")
            label(class="sign-up-form__label",for="username") Username
            input(class="sign-up-form__input",type="text" name="username" required)
            div(class="sign-up-form__div")
            label(class="sign-up-form__label",for="email") Email
            input(class="sign-up-form__input",type="email" name="email" required)
            div(class="sign-up-form__div")
            label(class="sign-up-form__label",for="password") Password
            input(class="sign-up-form__input",type="password" name="password" required)
            div(class="sign-up-form__div")
            label(class="sign-up-form__label",for="confirmPassword") Confirm Password
            input(class="sign-up-form__input",type="password" name="confirmPassword" required)
            div
            input(type="hidden" name="_csrf" value=csrfToken)
            div(class="sign-up-form__button")
              button(class="sign-up-form__button__button",type="submit") Sign Up
        div
        h4 Already have an account?
            button Login
#overlay
script(type="module" src="/js/sign-up.js")
