#login
   display: flex;

  & *
    border: 1px solid black
  &__form
    display: flex;
    justify-content: center;
    align-items: center;
  &__email
    display: flex;
    justify-content: center;
