#main
  .hr
    @include border-bottom($border-light)
    grid-column: 1 / -1

  & *
    // border: 1px solid black

  &__stories
    @include border-right($border-light)
    grid-column: 2 / span 2
    height: 50rem
    display: flex
    flex-direction: column
    flex-wrap: wrap

    & > *
      padding: 0 1.5rem 0 0

    h2,h3
      color: $color-font-story

    h2
      font-size: 1.8rem
      font-weight: 600
      line-height: 2.6rem

    .subtitle
      font-size: 2rem

    .subtitle
      font-family: 'Times New Roman', Times, serif
      padding-top: 2rem
    
    img
      position: relative
      width: 38rem
      height: 25rem
      object-fit: contain
      cursor: pointer
      object-fit: cover

    .main-suggestion-story
      cursor: pointer
      width: 38rem
      height: 23rem
      padding-top: 2rem
      color: $color-font-story
      a
        display: inline-block
        padding-top: 2rem
    .suggestion-story
      cursor: pointer
      width: 35rem
      height: 12rem
      display: flex
      justify-content: space-between
      .left
        width: 21rem
        h3
          padding-top: 1rem

        p
          color: $color-font-subtitle
          padding-top: 1.5rem
          font-size: 1.2rem
        a
          display: block
          position: relative
          height: 3rem
          width: 100%
          font-size: 1.1rem
          color: $color-font-story

          span
            display: inline-block
      .right
        height: 10rem
        width: 10rem
        margin-top: .5rem
        img
          width: 100%
          height: 100%
          object-fit: cover
        
      a:not(:first-child)
        display: inline-block
        padding-top: 2rem
      img
        height: 2rem
        width: 2rem
        position: relative
        top: .5rem
        margin-right: 1rem
      span
        display: inline-block
        padding-bottom: 1rem

  &__from-following
    grid-column: 4
    height: 50rem

    .green-link
      color: $color-green-dark
      padding: 1.5rem

    .following-users-container
      width: 100%
      height: 25rem
      padding: 1.5rem
      display: flex
      flex-wrap: wrap
      position: relative
      left: -2rem

      & > *
        width: 9rem
        height: 9rem
        display: flex
        flex-wrap: wrap
        justify-content: center
        margin-bottom: 3rem
      
        img
          width: 6.2rem
          height: 6.2rem
          border-radius: 50%
          cursor: pointer

        div
          text-align: center
          font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif
          font-size: 1rem
          padding-top: 0.3rem
  &__trends
    grid-column: 2 / span 3
    height: auto

    .trending
      &__container
        display: grid
        grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr))
        grid-template-rows: repeat(2, 13rem)

        & > *
          padding: 1.5rem
      
      &__story
        display: flex

        .left
          width: 20%
          height: 100%
          font-weight: 500
          font-size: 3rem
          color: $color-gray-1
          font-style: strong
          font-family: 'Roboto'
        .right
          width: 80%
          height: 100%
          display: flex
          flex-direction: column
          h3
            margin-top: .5rem
          img
            height: 2rem
            width: 2rem
            border-radius: 50%
            margin-right: 1rem
          a
            color: $color-font-story

            span
              display: inline-block
              position: relative
              top: -.5rem
          p
            padding-top: 1.5rem

          span
            display: inline-block
            padding-bottom: 1rem

  &__feeds
    grid-column: 2/ span 2
    height: auto
    margin-right: 2rem

  &__feeds, aside
    margin-top: 2rem

    // .feeds-container:not(:first-child)
    //   padding: 1.5rem

    .feeds-story
      height: 14rem
      display: flex
      justify-content: space-between

      &:first-child
        margin: 0 8rem 5rem 0
        
      &:not(:first-child)
        margin: 5rem 8rem 5rem 0

      span, h3
        color: $color-font-story

      h3
        font-size: 1.8rem
        padding: 1.5rem 0

      .left
        flex-grow: 1
        img
          width: 2rem
          height: 2rem
          border-radius: 50%
          margin-right: 1rem
          position: relative
          top: .5rem
        & > p
          padding-top: 1rem

      .feed-image
        width: 200px
        height: 100%
        object-fit: cover

  &__sidebar
    position: sticky
    top: 0

    .clapped-stories
      margin: 2rem 0
      height: 8rem
      
    .clapped-stories, .green-link  
      position: relative
      top: -1.5rem

  &__clapsList
    height: 55rem
    background-color: $color-gray-2
    padding: 3rem
    line-height: 2.75rem

    span, h4
      color: $color-font-story

    h4
      font-size: 1.4rem

    p
      font-size: 1.2rem

    .green-link
      color: $color-green-dark

  a
    img
      margin-right: 1rem
      position: relative
      top: .5rem

  &__footer 
    height: 10rem
    margin: 2rem 0
    line-height: 3rem
    word-break: keep-all
    display: flex
    justify-content: space-evenly

.prof-icon
  width: 2rem
  height: 2rem
  border-radius: 50%