#splash
  & *
    border: 1px solid black
  &__header
    grid-column: 2 / span 3
    display: flex
    flex-direction: column
    align-items: center
    height: 60vh

  &__main
    grid-column: 2 / span 3
    height: 100vh
  &__footer
    grid-column: 1 / -1
    height: 40vh