#splash
  & *
    border: 1px solid black
  &__header
    grid-column: 2 / span 3
    display: flex
    flex-direction: column
    align-items: center
    height: 60vh
    background-color: lightgrey
  &__contents
    height: 30rem
    width: 100%

#splash__login
  border-radius: 1.5rem
  margin: 2em
  padding: 1.5rem
  background: black

  .splash-login
    color: white
    background: black
    border: none

  &__main
    grid-column: 2 / span 3
    height: 100vh
  &__footer
    grid-column: 1 / -1
    height: 40vh
