#story
  &__body
    border: 1px solid black
    display: flex
    flex-direction: column
    grid-column: 2 / span 3
    width: 50%
    transform: translateX(-50%, -50%)
    align-items: center
  &__header
    align-items: center
  &__user
    display: grid
    grid-template-columns: repeat(5, 1fr)
  &__user > h2
    grid-column-start: 2
  &__contents
