#story
  display: flex
  width: 100vw
  &__body
    border: 1px solid black
    flex-direction: column
    justify-content: center
    margin: 0px 450px
  &__header > h1
    font-size: xxx-large
    margin: 10px
  &__subtitle > h1
    margin: 10px
  &__userDiv
    // border: 10px solid black
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-template-rows: 10px 2px 10px
    font-size: small
    height: 50px
  .userPic > img
    height: 50px
    width: 50px
    float: left
  .userInfo
    float: left
  .fullNameDiv
    grid-row-start: 1
    float: left
    margin: 5px
  .followBtn
    float: left
    margin: 5px
  .date
    // display: grid
    // grid-row-start:3
  .social-list
    grid-column-start: 4
    grid-row-start: 2
  .social-list__link
    margin: 2px
  &__userDiv > h2
    font-size: large
  &__contents
