extends layout.pug

block content
  include ./utilities/editNav.pug
  #storyForm
  .errors-container
  #storyForm__fields
    form(class="createStory-form")
      #editStoryForm__div
        #storyFrom__field
          input(type="hidden" name="storyId" value= story.id)
        #storyForm__field
          label(for='title')
            input(type='text' class='storyInput' id='title' name='title' placeholder='Title' value=story.title)
        #storyForm__field
          label(for='subtitle')
            input(type='text' class='storyInput' id='subtitle' name='subtitle' placeholder='Subtitle' value=story.subtitle)
        #storyForm__field
          label
          select(name="genreId" class='storyInput' id='genre' required)
            each genre in genres
              option(value=genre.id)= genre.title
        #storyForm__field
          label(for='body')
            textarea(class='storyInput textareaEdit' name='body' rows='5', placeholder='Tell your story...')= story.body

  script.
    const tab_a = document.querySelector("tab-a");
    const tab_b = document.querySelector("tab-b");
    const tab_c = document.querySelector("tab-c");
    const profIcon = document.getElementById('navbar__prof-icon');
    const modal = document.getElementById('navbar__modal');
    profIcon.addEventListener('click', e => {
      modal.classList.toggle('hidden');
    });
    //- tab_b.addEventListener("click", e => {
    //-   tab_a.classList.remove(".tab--underline");
    //-   tab_b.classList.add(".tab--underline");
    //- });
    //- tab-c.addEventListener("click", e => {
    //-   tab_a.classList.remove(".tab--underline");
    //-   tab_c.classList.add(".tab--underline");
    //- });
  script(type="module" src="/js/editStory.js")
