doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    <meta property="og:title" content="Readium">
    <meta property="og:description" content="Readium is an online publishing platform pertaining to books, inspired by Medium. Users can create, comment, and like each other's articles about their favorite books.">
    <meta property="og:image" content="https://drama-deets.s3.amazonaws.com/readium1.png">
    <meta property="og:url" content="http://readiumapp.herokuapp.com/">
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/styles/main.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous")
    link(rel="icon", type="image/svg" href="/readium_logo.svg")
    //- link(rel="stylesheet", href="https://i.icomoon.io/public/temp/6ca250f8fe/UntitledProject/style.css")
    title Readium - Get smarter by reading.
  body
    block content
