doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/styles/main.css")
    link(rel="icon", type="image/svg" href="/readium_logo.svg")
    link(rel="stylesheet", href="https://i.icomoon.io/public/temp/6ca250f8fe/UntitledProject/style.css")
    title Readium - Get smarter by reading.
  body
    block content
