extends layout.pug

block content
  div
    div
    h2 Welcome Back.
    form()
      label(for='email') Your email
      input(type='email', name='email')
      label(for='password') Your password
      input(type='password', name='password')
      button(type='submit') Log In
  script(src="js/log-in.js")
