extends layout.pug

block content
  #main
    #main__articles #main_articles
    #main__from-following #main__from-following
    #main__trends #main__trends
    main#main__feeds main(#main__feeds)
    aside#main__sidebar
      #main__readinglist #main__readinglist
      footer#main__footer footer(#main__footer)