extends layout.pug
include ./utilities/mixin_navbar.pug

block content
  +navbar('main')
  #main
    #main__articles
      .articles-left
        img(src="https://www.okea.org/wp-content/uploads/2019/10/placeholder.png", alt="")
      .articles-right #main_articles .articles-right
        .suggestion-story#2
        .suggestion-story#3
        .suggestion-story#4
        .suggestion-story#5
    #main__from-following #main__from-following
      p.section-title Latest From Following
    .hr
    #main__trends
      p.section-title Trending on Medium
      .trending__container
        .trending__story#1
        .trending__story#2
        .trending__story#3
        .trending__story#4
        .trending__story#5
        .trending__story#6
    .hr
    main#main__feeds main(#main__feeds)
    aside
      #main__sidebar
        #main__readinglist #main__readinglist
          p.section-title Reading List
        footer#main__footer footer(#main__footer)
  script.
    const profIcon = document.getElementById('navbar__prof-icon');
    const modal = document.getElementById('navbar__modal');
    profIcon.addEventListener('click', e => {
      modal.classList.toggle('hidden');
    });