extends layout.pug

block content
  #splash
    header#splash__header #splash__header
    main#splash__main #splash__main
    //- #splash__from-following #splash__from-following
    //- #splash__trends #splash__trends
    //- splash#splash__feeds splash(#splash__feeds)
    //- aside
    //-   #splash__sidebar
    //-     #splash__readinglist #splash__readinglist
    //-     footer#splash__footer footer(#splash__footer)