extends layout.pug
include ./utilities/mixin_navbar.pug

block content
  nav(id="splashnav")
    #navbar__contents
      .left-contents
        div(class="readiumnavtitle") Readium
      div(class="right-contents")
        div(class="splash__contents-login")
          button(class="splash-login navbar") Sign in
        div(class="splash__contents-login")
          button(class="splash-login navbar", id="demo") Demo
        div(class="navbar__contents__signup")
          button(class="splash__contents-signup") Get started
  include includes/sign-up.pug
  include includes/log-in.pug
  #splash
    header#splash__header
      div(class="splash-header-container")
        h1(class="splash-header-header") Dive deeper into the
        h1(class="splash-header-header") stories you love.
        h2(class="splash-header-subtitle") Join our community. Read others stories or write your own.
      #splash__contents
        div(class="splash__conntents-buttons")
          div(class="splash__contents-genres")
            div(class="splash__contents-genres-circle yellow") R
            div(class="splash__contents-genres-text") Fiction
          div(class="splash__contents-genres")
            div(class="splash__contents-genres-circle navy") R
            div(class="splash__contents-genres-text") Bio
          div(class="splash__contents-genres")
            div(class="splash__contents-genres-circle green") R
            div(class="splash__contents-genres-text") Sci-Fi
          div(class="splash__contents-genres")
            div(class="splash__contents-genres-circle") R
            div(class="splash__contents-genres-text") Thriller
          div(class="splash__contents-genres")
            div(class="splash__contents-genres-circle") R
            div(class="splash__contents-genres-text") Mystery
          div(class="splash__contents-genres")
            div(class="splash__contents-genres-circle red") R
            div(class="splash__contents-genres-text") Horror
          div(class="splash__contents-genres")
            div(class="splash__contents-genres-circle yellow") R
            div(class="splash__contents-genres-text black") Fantay
          div(class="splash__contents-genres")
            div(class="splash__contents-genres-circle blue") R
            div(class="splash__contents-genres-text") Non Fiction
          div(class="splash__contents-genres")
            div(class="splash__contents-genres-circle navy") R
            div(class="splash__contents-genres-text") News
          div(class="splash__contents-genres")
            div(class="splash__contents-genres-circle red") R
            div(class="splash__contents-genres-text") Plays
          div(class="splash__contents-genres")
            div(class="splash__contents-genres-circle") R
            div(class="splash__contents-genres-text") Journals
          div(class="splash__contents-genres")
            div(class="splash__contents-genres-circle yellow") R
            div(class="splash__contents-genres-text black") Comics
          div(class="splash__contents-genres")
            div(class="splash__contents-genres-circle") R
            div(class="splash__contents-genres-text") Cookbooks
          div(class="splash__contents-genres")
            div(class="splash__contents-genres-circle green") R
            div(class="splash__contents-genres-text") History
          div(class="splash__contents-genres")
            div(class="splash__contents-genres-circle blue") R
            div(class="splash__contents-genres-text") Young Adult
          div(class="splash__contents-genres")
            div(class="splash__contents-genres-circle navy") R
            div(class="splash__contents-genres-text") Philosophy
          div(class="splash__contents-genres")
            div(class="splash__contents-genres-circle") R
            div(class="splash__contents-genres-text") Mystery
        div(class="splash__contents-footer")
          div(class="navbar__contents__signup big")
            button(class="splash__contents-signup big") Get started
          div(class="ptext") Already have an account?
            button(class="splash-login",data-modal-target="#modal") Sign in
    //- main#splash__main #splash__main
    footer#splash__footer
      button(id="splash__signup2",class="splash__contents-signup") Get started
      div(class="ptext", id="ptext2") Have an account?
          button(id="splashlogin",class="splash-login",data-modal-target="#modal") Login
    script(type="module" src="/js/splash.js")
