extends layout.pug

block content
  #splash
    header#splash__header
      h1 Some slogan here
      h2 Some sub-slogan here
      button(type="submit" action="/sign-up") Get Started
    main#splash__main #splash__main
    footer#splash__footer This is footer