extends layout.pug
include ./utilities/mixin_navbar.pug

block content
  +navbar('splash')
  include includes/sign-up.pug
  include includes/log-in.pug
  #splash
    header#splash__header
      h1 Some slogan here
      h2 Some sub-slogan here
      #splash__contents Stuff
      button(class="splash__contents-signup")
      p Already have an account?
      #splash__login
        button(class="splash-login", id ="splashlogin",data-modal-target="#modal") Login
    main#splash__main #splash__main
    footer#splash__footer
    script(type="module" src="/js/splash.js")
