extends layout.pug

block content
  include ./utilities/formNav.pug
  #storyForm
  .errors-container
  #storyForm__fields
    form(class="createStory-form" action='/api/stories' method='post')
      //- input(type='hidden' name='_csrf' value=csrfToken)
      #storyForm__div
        #storyForm__field
          label(for='title')
            input(type='text' class='storyInput' id='title' name='title' placeholder='Title')
        #storyForm__field
          label(for='subtitle')
            input(type='text' class='storyInput' id='subtitle' name='subtitle' placeholder='Subtitle')
        #storyForm__field
          label(for='body')
            textarea(id='body' class='storyInput' name='body' rows='5', placeholder='Tell your story...')
        #storyForm__field
          label
          select(name="genreId" class='storyInput' id='genre' required)
            each genre in genres
              option(value=genre.id)= genre.title
  script.
    const tab_a = document.querySelector("tab-a");
    const tab_b = document.querySelector("tab-b");
    const tab_c = document.querySelector("tab-c");
    const profIcon = document.getElementById('navbar__prof-icon');
    const modal = document.getElementById('navbar__modal');
    profIcon.addEventListener('click', e => {
      modal.classList.toggle('hidden');
    });
    tab_b.addEventListener("click", e => {
      tab_a.classList.remove(".tab--underline");
      tab_b.classList.add(".tab--underline");
    });
    tab-c.addEventListener("click", e => {
      tab_a.classList.remove(".tab--underline");
      tab_c.classList.add(".tab--underline");
    });
  script(type="module" src="/js/createStory.js")
