include story-utils.pug

+form-group('title', 'Title', story.title, 'Title')
+form-group('subtitle', 'Subtitle', story.subtitle, 'Subtitle')
+form-group('body', 'Body', story.body, 'Tell your story...', true)
