mixin navbar(pageName, img)
  nav#navbar
    #navbar__contents
      .left-contents
       a(href="/"): h1 Readium
       p Greeting
      if pageName == 'splash'
        div(class="right-contents")
          div(class="splash__contents-login")
            button(class="splash-login navbar") Sign in
          div(class="navbar__contents__signup")
            button(class="splash__contents-signup") Get started
      else if pageName == 'main'
        img(id="navbar__prof-icon" src="")
        #navbar__modal.hidden
          .modal__header
            img(class="modal__prof-pic" src="")
            .modal__member-info
              .modal__member-info-name: a(href="") Cole McCoy
              .modal__member-info-username: a(href="") @cmccoy
          .modal__contents
            ul
              li: a(class="nav-new-story-link" href="") New Story
              li: a(class="nav-user-stories" href="") Stories
              li: a(class="nav-profile-link" href="") Profile
              li: a(class="" href="") Sign out
      else
        p stuff here
