mixin navbar(pageName)
  nav#navbar
    #navbar__contents
      h1 Readium | Greeting
      if pageName == 'splash'
        form(action="/sign-up"): input(type="submit" value="Get started")
      else if pageName == 'main'
        #main__prof-icon Profile icon
        #main__modal.hidden
          .modal__header Profile pic comes here
            div Profile
          .modal__content
            ul
              li: a(href="") New Story
              li: a(href="") Stories
              li: a(href="") Reading List
              li: a(href="") Profile
              li: a(href="") Sign out    
      else
        p stuff here
