mixin follow-list-preview(id, fullName, imageUrl, message)
  img(class="follow-list-preview_img" src= `${imageUrl}` height= "60px" width= "60px")
  .follow-list-preview-name: a(href=`/users/${id}/profile`).preview_name= fullName
  .follow-list-preview-message: p.preview_message= message
