mixin navbar(pageName)
  nav#navbar
    h1 Readium | Greeting
    #navbar__icons
      if pageName === 'splash'
        form(action="/sign-up"): input(type="submit" value="Get started")
      else if pageName === 'main'
        p prof pic here
      else
        p stuff here