mixin storyAuthor(storyURL,)
img(src=storyURL height="40px" width="40px")
h2= user.fullName
button(type="button" class="followBtn") Follow

+storyAuthor("https://miro.medium.com/fit/c/128/128/1*02N7QU6pjxuAZmBh-laQWA.jpeg", )
