@import url("https://fonts.googleapis.com/css2?family=Lora:ital@0;1&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
}

a:link,
a:visited {
  color: #7c7c7c;
  text-decoration: none;
}

#main {
  color: #757575;
  font-size: 1.3rem;
  font-family: "Lora", Georgia, Cambria, "Times New Roman", Times, serif;
}

#main .section-title {
  color: #292929;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1rem;
}

.story {
  font-family: "Lora", Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 13rem;
  color: #292929;
  font-style: normal;
  font-weight: 400;
  word-break: break-word;
  overflow-wrap: break-word;
}

.story__title {
  font-family: "Lora";
  font-size: 30rem;
}

.story__subtitle {
  font-family: #292929;
  font-size: 15rem;
  color: #757575;
}

.story__section-title {
  font-family: medium-content-sans-serif-font, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
  font-size: 22.5rem;
  background-color: inherit;
}

#main .hr {
  margin: 2.5rem 0;
  border-bottom: 1px solid #e6e6e6;
  grid-column: 1 / -1;
}

#main__stories {
  margin: 0 2.5rem 0 0;
  border-right: 1px solid #e6e6e6;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / span 2;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#main__stories > * {
  padding: 1.5rem;
}

#main__stories img {
  width: 50%;
  height: 50%;
}

#main__stories .main-suggestion-story {
  width: 50%;
  height: 50%;
}

#main__stories .suggestion-story {
  width: 50%;
  height: 25%;
}

#main__from-following {
  -ms-grid-column: 4;
  grid-column: 4;
  height: 60vh;
}

#main__trends {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / span 3;
  height: auto;
}

#main__trends .trending__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  -ms-grid-rows: (13rem)[2];
      grid-template-rows: repeat(2, 13rem);
}

#main__trends .trending__container > * {
  padding: 1.5rem;
}

#main__feeds {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/ span 2;
  height: auto;
}

#main__feeds > * {
  padding: 1.5rem;
}

#main__feeds .feeds-story {
  height: 20rem;
}

#main__sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

#main__readinglist {
  height: 55rem;
  background-color: #f7f7f7;
  padding: 3rem;
}

#main__footer {
  height: 10rem;
}

#splash * {
  border: 1px solid black;
}

#splash__header {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / span 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60vh;
  background-color: lightgrey;
}

#splash__contents {
  height: 30rem;
  width: 100%;
}

#splash__contents #splash__login {
  border-radius: 1.5rem;
  margin: 2em;
  padding: 1.5rem;
  background: black;
  z-index: 10;
}

#splash__contents #splash__login .splash-login {
  color: white;
  background: black;
  border: none;
}

#splash__main {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / span 3;
  height: 100vh;
}

#splash__footer {
  grid-column: 1 / -1;
  height: 40vh;
}

#profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
<<<<<<< HEAD

#profile__header img {
  border-radius: 50%;
  border: thin solid #ffffff;
}

=======

img {
  border-radius: 50%;
  border: thin solid #ffffff;
}

>>>>>>> loginfrontend
.profile_body_story-preview {
  border: thin solid #4d4d4d;
  padding: 5px;
  margin: 10px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  border: 1px solid black;
  border-radius: 1rem;
  z-index: 20;
  background-color: rgba(255, 255, 255, 0.98);
  width: 50rem;
  maxwidth: 80%;
  height: 200rem;
  max-height: 100%;
  border: none;
  -webkit-box-shadow: 0px 2px 5px #e6e6e6;
          box-shadow: 0px 2px 5px #e6e6e6;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

.modal.active {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.modal .errors-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 2.5rem;
  height: 10rem;
  font-family: medium-marketing-display-font, Georgia, Cambria, "Times New Roman", Times, serif;
  color: red;
}

.modal .modal-header .button-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.modal .modal-header .button-div #close__modal {
  background-color: rgba(255, 255, 255, 0.98);
  font: 400 13.3333px Arial;
  border: none;
  padding: 1.8rem;
  color: #757575;
  cursor: pointer;
}

.modal .modal-header #header__title {
  font-family: medium-marketing-display-font, Georgia, Cambria, "Times New Roman", Times, serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20rem 5rem 5rem 5rem;
  font-size: 28px;
  line-height: 32px;
  font-weight: 500;
  color: #080808;
}

.modal .log-in-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal .log-in-form #login__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 2.5rem;
  height: 10rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal .log-in-form #login__email #email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 20px;
  font-size: 15px;
  font-weight: 300;
  font-family: medium-content-sans-serif-font, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
  width: 20rem;
}

.modal .log-in-form #login__email #email__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom: .5px solid black;
  padding: .5rem;
  width: 20rem;
}

.modal .log-in-form #login__password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 4rem;
  height: 8rem;
}

.modal .log-in-form #login__password #password {
  font-family: medium-content-sans-serif-font, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
  line-height: 20px;
  font-size: 15px;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 20rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal .log-in-form #login__password #password__input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom: .5px solid black;
  padding: .5rem;
  width: 20rem;
}

.modal .log-in-form #login__button {
  border-radius: 1.5rem;
  margin: 2em;
  padding: 1.5rem;
  background: black;
}

.modal .log-in-form #login__button #login {
  color: white;
  background: black;
  border: none;
}

#overlay {
  position: fixed;
<<<<<<< HEAD
}

=======
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.85);
  pointer-events: none;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

#overlay.active {
  pointer-events: all;
  opacity: 1;
}

>>>>>>> loginfrontend
#story__body {
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / span 3;
  width: 50%;
  -webkit-transform: translateX(-50%, -50%);
          transform: translateX(-50%, -50%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#story__header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#story__user {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
}

#story__user > h2 {
  -ms-grid-column: 2;
      grid-column-start: 2;
}

#main,
#splash,
#navbar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr (minmax(40rem, 1fr))[3] 1fr;
      grid-template-columns: 1fr repeat(3, minmax(40rem, 1fr)) 1fr;
}

#navbar {
  height: 6.5rem;
  margin: 2rem 0;
}

#navbar__contents {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / span 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#navbar__contents .left-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#navbar__contents .left-contents h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 3rem;
}

#navbar__contents .left-contents h1::after {
  content: '';
  border-right: 1px solid #e6e6e6;
  margin: 0 1.5rem;
}

#navbar__prof-icon {
  height: 3.5rem;
  width: 3.5rem;
  background-image: url("https://www.flaticon.com/svg/static/icons/svg/711/711769.svg");
}

#navbar__modal {
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  position: absolute;
  top: 8.5rem;
  height: 60rem;
  width: 20rem;
  z-index: 1;
  padding: 2rem;
  right: 0;
  -webkit-box-shadow: 0px 2px 5px #e6e6e6;
          box-shadow: 0px 2px 5px #e6e6e6;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  -webkit-transform: translate(40%, 0) scale(1);
          transform: translate(40%, 0) scale(1);
  background-color: rgba(255, 255, 255, 0.98);
}

#navbar__modal > * {
  border-bottom: 1px solid #e6e6e6;
  padding: 4.5rem 0;
}

#navbar__modal.hidden {
  -webkit-transform: scale(0);
          transform: scale(0);
}

#navbar__modal .modal__header {
  height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#navbar__modal .modal__prof-pic {
  height: 4.5rem;
  width: 4.5rem;
  background-image: url("https://www.flaticon.com/svg/static/icons/svg/711/711769.svg");
}

#navbar__modal .modal__member-info {
  line-height: 1.5rem;
}

#navbar__modal .modal__contents ul {
  list-style: none;
}
/*# sourceMappingURL=main.css.map */