@import '../abstracts/_variables'
  
*,
*::before,
*::after
  font-family: medium-content-sans-serif-font, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;

.story
  font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif
  font-size: 13rem
  font-style: normal
  font-weight: 400
  color: rgba(41, 41, 41, 1)
  word-break: break-word
  overflow-wrap: break-word

  &__title
    font-family: medium-content-title-font
    font-size: 30rem

  &__subtitle
    font-family: $font-story-main

  &__section-title
    font-family: $font-story-main
    font-size: 22.5rem